.filter-sidebar {
  background-color: #fff;
  border-right: 1px solid #eee;
  font-size: 14px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  border: 2px dashed #ccc;
  border-radius: 12px;
}

.exp-label {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 50px;
}

.nav-down {
  margin-left: 4px;
}

.abc {

  margin-top: 96px;
  z-index: 99;
}

.adv-job-search {
  background-color: var(--awc-white);
  margin-top: var(--awc-space-100);
  padding: var(--awc-space-400);
  border-radius: var(--awc-space-300);
  /* box-shadow: var(--bs-box-shadow-sm) !important; */
}