.training-btn {
    background-color: var(--awc-main-primary-blue);
    color: white;
    padding: var(--awc-space-300);
    font-size: var(--awc-space-400);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    display: flex;
    justify-content: start;
    border-radius: var(--awc-space-200);
    margin-bottom: var(--awc-space-200);
    border: var(--awc-space-25) solid var(--awc-blue-hover);


}

.training-btn:hover {
    background-color: var(--awc-blue-bg);
    color: white;
}

.span-tg-icon {
    font-size: 26px;
    margin-right: var(--awc-space-100);
}

.pay-now-register {
    display: flex;
    justify-content: space-between;
}

.pay-now-btn-dsbl {
    margin-top: var(--awc-space-300);
    margin-right: var(--awc-space-300);
    opacity: 0.7;
    cursor: pointer;


}

.dash-board-btn {
    background-color: var(--brjp-orange) !important;
    color: #ffffff;
    border: 1px solid var(--awc-main-primary-blue);
    border-radius: var(--awc-space-200);
    font-size: var(--awc-space-300);
    font-weight: 600;
    border: 0px !important;

}



.t-dash-card {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url("../../assets//images/st-1.svg");
}

.box-traming {

    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px;
    -webkit-transition: .5s;
    transition: .5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
}

.bg-secondary-light {
    background-color: #e9edf2 !important;
    color: #172b4c;
}

.box-body {
    padding: 1.5rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 10px;
}

.t-dash-card-st2 {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url("../../assets//images/st-2.svg");

}

.t-dash-card-st3 {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url("../../assets//images/st-3.svg");

}

.t-dash-card-st4 {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url("../../assets//images/st-4.svg");

}

.theme-primary .badge-primary {
    background-color: #0052cc;
    color: #ffffff;
}

.theme-primary .badge-read-more {
    background-color: var(--brjp-orange);
    font-size: var(--awc-space-300);

    color: #ffffff;
}

.box-traming p {
    line-height: 24px;
}

.badge {
    /* border-radius: 3px; */
    font-weight: 300;
    line-height: 1.3;
    font-size: 85%;
}

.me-15 {
    margin-right: 15px !important;
}

.badge-dark {
    background-color: #172b4c;
    color: #ffffff;
    font-size: var(--awc-space-300);
}

.theme-primary .badge-warning-light {
    background-color: #fff2e2;
    color: #ff9920;
}

.mt-25 {
    margin-top: 25px !important;
}

.text-color-me {
    font-size: var(--awc-space-300);
}