.section-heading {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2c3e50;

  padding: 12px;
}

/* Accordion Styles */
.accordion-button {
  font-weight: 600;
  background-color: var(--brjp-main-primary-blue) !important;
  padding: 16px;
  transition: background-color 0.3s ease;
  color: white;
  border-radius: 12px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}

.accordion-header {
  margin-bottom: 0;

}

/* .accordion-button:hover {
  background-color: #e2e6ea !important;
} */

.accordion-body {
  padding: 0px 8px 0px 8px;
}

/* Module Card Styles */
.module-card {
  background-color: #e4e9ee;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.module-card ul {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.6;
  color: #333;
}

.training-wrapper {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  border-radius: 8px 8px 0px 0px;
  margin-top: 96px !important;
}

.training-wrapper .accordion-item {
  border: None !important;
}

.main-contanier {
  padding: 12px;
}

.accordion-button:not(.collapsed) {
  color: var(--awc-white) !important;
  background-color: var(--awc-blue-hover) !important;
  border-radius: 8px 8px 0px 0px;
}

.accordion-button::after {
  background-image: url("../images/down-arrow.svg") !important;
  content: "";
  font-size: 12px;
}

/* Registration Card */
.registration-card {
  padding: 30px;
  border-radius: 12px;
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #dee2e6;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.registration-card h4 {
  font-weight: 700;
}

.registration-card p {
  font-size: 0.95rem;
  color: #666;
}

button.accordion-button {
  font-size: 14px !important;
  font-weight: normal;
  padding: 12px;
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .section-heading {
    text-align: center;
  }

  .training-wrapper {
    margin-top: 28px;
  }

  .main-mt-0 {
    margin: 0px !important;
  }

  .registration-card {
    margin-top: 20px;
  }

  .accordion-header {
    padding: 0px;
  }
}


.comming-soon {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 90px;
}

@media (max-width: 576px) {
 
  .training-wrapper {
    margin-top: 28px;
  }

  .p-4 {
    padding: .5rem !important;
  }

  .main-contanier {
    padding: 0px;
  }

  .down-register {
    display: none;
  }

  .comming-soon img {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}


@media (min-width: 820px) {
  .mobile-register-now {
    display: none;
  }
}

@media (min-width: 992px) {
  .mobile-register-now {
    display: none;
  }
}